<section class="bankruptcy__stages stages">
  <div class="container">
    <h3 class="stages__title">Этапы банкротства для физических лиц</h3>
    <div class="stages__content">
      <div class="stages__stage stage">
        <div class="stage__icon">
          <img src="./assets/images/documents.svg" alt="Сбор документов" />
        </div>
        <span class="stage__text">Сбор документов</span>
      </div>
      <div class="stages__stage">
        <div class="stage__icon">
          <img src="./assets/images/filing.svg" alt="Подготовка дела в суд" />
        </div>
        <span class="stage__text">Подготовка и <br />подача дела в суд</span>
      </div>
      <div class="stages__stage">
        <div class="stage__icon">
          <img src="./assets/images/court.svg" alt="Судебное производство" />
        </div>
        <span class="stage__text">Судебное производство</span>
      </div>
      <div class="stages__stage">
        <div class="stage__icon">
          <img src="./assets/images/debt-off.svg" alt="Списание всех долгов" />
        </div>
        <span class="stage__text">Списание всех долгов</span>
      </div>
    </div>
  </div>
</section>
