<section class="bankruptcy" id="bankruptcy" #bankruptcy>
  <div class="container">
    <h2 class="bankruptcy__title">
      Что такое банкротство физических лиц?
    </h2>
    <div class="bankruptcy__quote">
      <div class="bankruptcy__quote-start">«</div>
      <div class="bankruptcy__quote-wrapper">
        <div class="bankruptcy__quote-text text-block">
          <div class="text-block__bold">Банкротство</div>
          <div class="text-block__text">
            это законный процесс, позволяющий гражданам избавиться от долгов,
            таких как кредиты и микрозаймы, и начать новую финансовую жизнь.
          </div>
        </div>
      </div>
      <div class="bankruptcy__quote-end">»</div>
    </div>
  </div>
</section>



