<section class="header">
    <div class="header__background">
        <div class="container">
            <div class="header__content">
                <h1 class="header__title">Банкротство<br>физических лиц</h1>
                <div class="header__subtitle">Освободитесь от долгов, сохранив имущество
</div>
                <div class="header__title-list">
                    <ul>
                        <li>Беспроцентная рассрочка</li>
                        <li>Гарантия 100%</li>
                        <li>Отзыв персональных данных</li>
                    </ul>
                </div>
                <div class="header__button">
                    <a href="#calc">
                        <button>
                            Узнать
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>