<footer class="footer" aria-label="Подвал сайта">
  <div class="container">
    <div class="footer__wrapper">
      <div class="footer__copyright">
        {{year}} ©️ {{owner}}
      </div>

      <nav class="footer__privacy">
        <a class="link" (click)="openPrivacy()">Политика конфиденциальности</a>
      </nav>

      <div class="footer__social social">
        <ul class="social__list">
          <li class="social__icon">
            <a href="{{vk}}" target="_blank" rel="noopener noreferrer" aria-label="Мы в ВКонтакте">
              <img src="./assets/images/vk-icon.svg" alt="Мы в ВКонтакте">
            </a>
          </li>
          <li class="social__icon">
            <a href="{{telegram}}" target="_blank" rel="noopener noreferrer" aria-label="Мы в Telegram">
              <img src="./assets/images/telegram-icon.svg" alt="Мы в Telegram">
            </a>
          </li>
          <li class="social__icon">
            <a href="{{whatsapp}}" target="_blank" rel="noopener noreferrer" aria-label="Мы в WhatsApp">
              <img src="./assets/images/whatsapp-icon.svg" alt="Мы в WhatsApp">
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>

<app-modal id="modal-2">
  <app-privacy></app-privacy>
</app-modal>
