<section class="hero">
    <div class="hero__background">
      <div class="container">
        <div class="hero__content">
          <h1 class="hero__title">Банкротство физических лиц в Уфе</h1>
          <p class="hero__subtitle">
            Узнайте, как пройти банкротство физических лиц в Уфе и сохранить имущество. Поможем списать долги с беспроцентной рассрочкой!
          </p>
          <div class="hero__title-list">
            <ul>
              <li>Банкротство в Уфе с беспроцентной рассрочкой</li>
              <li>100% гарантия успешного завершения процедуры</li>
              <li>Отзыв персональных данных после банкротства</li>
              <li>Сохранение имущества при списании долгов</li>
          </ul>
          </div>
          <div class="hero__button">
            <a href="#calc" aria-label="Рассчитать сумму для банкротства физических лиц">
              <button>Рассчитать стоимость</button>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
