<header class="nav">
  <div class="container">
    <div class="nav__wrapper">
      <div class="nav__logo">
         <a href="/" title="Главная страница">
          <img src="./assets/images/logo.svg" alt="Логотип">
         </a>
      </div>
      <div class="nav__menu-burger" id="menu-burger" (click)="toggleMenu()" aria-label="Открыть меню" [class.active]="isActive">
        <!-- <svg width="27" height="22" viewBox="0 0 27 22" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M1 20.3719H26M1 10.8719H26M1 1.37195H26" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>           -->
        <div class="line"></div>
      </div>
      <nav class="nav__menu menu" id="menu" #menuElement>
          <ul class="menu__list">
            <li class="menu__item" *ngFor="let item of menu">
              <a class="menu__item-link" href="{{item.link}}" title="{{item.title}}">
                {{ item.title }}
              </a>
            </li>
          </ul>
      </nav>
    </div>
  </div>
</header>
