<div class="survey__form" [formGroup]="parentForm">
    <h3 class="form__title">{{formTitle}}</h3>
    <div class="form__checkboxes checkboxes">
      <div class="checkboxes__checkbox checkbox" *ngFor="let option of options; index as i">
        <label class="checkbox__wrapper" [for]="controlName + '-' + i">
          <input class="checkbox__input" type="radio" [formControlName]="controlName" [id]="controlName + '-' + i" [value]="option"/>
          <span class="checkbox__title">{{option}}</span>
        </label>
      </div>
    </div>
</div>