<section class="feedbacks" id="feedback" #feedback>
  <div class="container">
    <h2 class="feedbacks__title">Отзывы клиентов, прошедших процедуру банкротства</h2>
    <div class="feedbacks__content">
      <div class="feedbacks__feedback feedback" *ngFor="let item of feedbacks">
        <div
          class="feedback__avatar"
          style="background-image: url(assets/images/avatar{{ item.id }}.jpg)"
        ></div>
        <p class="feedback__name">{{ item.name }}</p>
        <p class="feedback__text">{{ item.feedback }}</p>
      </div>
    </div>
  </div>
</section>
