/* You can add global styles to this file, and also import other style files */
@use "./mixins.scss" as mixins;


@font-face {
  font-family: "PT Serif", serif;
  src: url("https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap");
}

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: black;
  color: rgb(225, 225, 225);
  font-family: "PT Serif", serif;
  font-size: mixins.$text-font-size;
}

.container {
  margin: 0 auto;
  padding: 0 20px;
}

.link {
  text-decoration: none;
  color: #fff;
}

body.locked {
  overflow: hidden;
}

@media (min-width: 768px ) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1120px) {
  .container {
    max-width: mixins.$container-size;
  }
}

h1 {
  font-size: mixins.$h1-font-size;
  line-height: 112%;
  font-weight: bold;
}

h2 {
    font-size: mixins.$h2-font-size;
    @include mixins.header-style();
}

h3 {
    font-size: mixins.$h3-font-size;
    @include mixins.header-style();
}

button {
  font-family: "PT Serif", serif;
  font-size: mixins.$button-font-size;
  line-height: 100%;
  padding: 12px 40px;
  background: #fefefe;
  border-radius: 20px;
  border: none;
}

section {
    margin-bottom: 100px;
}

